button {
  display: block;
  width: 120px;
  height: 35px;
  font-family: "Inter";
  font-weight: 700;
  font-size: 17px;
  color: #fff;
  background: #FF614C;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-transform: uppercase;
}

button:hover {
  filter: brightness(90%);
}