.container {
  margin: 0 auto;
  height: 100vh;
  width: 100%;
  background-image: url(./images/BackGround.jpg);
}
ul {
  padding-left: 10px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}